<div class="container">
    <span class="header">Pizzaria HAS</span>
    <div id="container_demo">
      <div id="wrapper">
        <div id="comanda">
          <h1>COMANDA</h1>
          <form>
            <p><label>Chopp</label>
              <input type="text" name="inChopp"/>
            </p>
            <p><label>Pizza</label>
              <input type="text" name="inPizza"/>
            </p> 
            <p><label>Recheios</label>
              <input type="text" name="inRecheios"/>
             </p> 
             <p class="keepcomanda">
               <input type="checkbox" name="inServico"/>
               <label>Taxa de Serviço</label>
             </p>
          </form>
          <p class="about">Anderson L. Pedrassi</p>
        </div>
      </div>
    </div>
</div>